[submodule "roles/common"]
	path = roles/common
	url = git@github.com:timmahoney/common-ansible-role.git
	branch = master
	ignore = all
[submodule "roles/firewall"]
	path = roles/firewall
	url = git@github.com:timmahoney/firewall-ansible-role.git
	branch = master
	ignore = all
[submodule "roles/hosts"]
	path = roles/hosts
	url = git@github.com:timmahoney/hosts-ansible-role.git
	branch = master
	ignore = all
[submodule "roles/users"]
	path = roles/users
	url = git@github.com:timmahoney/users-ansible-role.git
	branch = master
	ignore = all
[submodule "roles/rvm"]
	path = roles/rvm
	url = git@github.com:timmahoney/rvm-ansible-role.git
	branch = master
	ignore = all
[submodule "roles/nginx"]
	path = roles/nginx
	url = git@github.com:timmahoney/nginx-ansible-role.git
	branch = master
	ignore = all
